body
{
/* Desktop - 1 */

position: relative;
width: 100%;
height: 2477px;

background: #FFFFFF;
font-family: 'Poppins', sans-serif;
font-weight: 400;
}
header.header
{
    /* Rectangle 1 */

position: absolute;
width: 100%;
height: 73.6px;
left: 0px;
top: 0px;

background: #2517133d;
box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}
img#home-logo
{
position: absolute;
width: 6.91%;
height: 48px;
left: 177px;
top: 13px;

background: url(Homepage-logo.png);
}

ul#primary_menu
{
/* Rectangle 2 */

position: absolute;
width: 60.56%;
height: 37.6px;
left: 311px;
top: 18px;

background:transparent;
}
a#navbar-home
{
display: inline-block;
color:#fff;
position: relative;
padding: 5px 16px;
margin: 0 3px;
border: 1px solid transparent;
background-color: transparent;

}
a#navbar-network
{
display: inline-block;
color:#fff;
position: relative;
padding: 5px 16px;
margin: 0 3px;
border: 1px solid transparent;
background-color: transparent;
text-decoration: none;
}
a#navbar-repository
{
display: inline-block;
color:#fff;
position: relative;
padding: 5px 16px;
margin: 0 3px;
border: 1px solid transparent;
background-color: transparent;
text-decoration: none;
}


div#home-area
{
/* Rectangle 4 */

position: absolute;
width: 100%;
height: 682.8px;
left: 0px;
top: 77px;
padding-top: 170px;

background: #00000045;
}
div#home-info-area
{
    
position: absolute;
width: 41.6% ;
height: 543px;
left: 177px;
top: 140px;
color: #fff;
padding: 80px 0 170px;

background: transparent;
}
h1#home-info
{
    font-size: 48px;
    font-weight: 500;
}
p1#content-area
{
    margin: 28px 0 25px;
}
div#right-image-area
{
    position: absolute;
    width: 445px;
    height: 543px;
    left: 812px;
    top: 183px;
    
    background: transparent;
}
div#about-area
{
position: absolute;
width: 100%;
height: 592px;
left: 0px;
top: 760px;
padding: 90px 0;
text-align: center;

background: rgb(255, 255, 255);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
div#about-area-head
{
position: absolute;
width: 82%;
height: 164px;
left: 190px;
top: 74px;

background: rgb(255, 255, 255);
}
div#feature-one-box
{
    position: absolute;
width: 23.04%;
height: 306.4px;
left: 246px;
top: 1016px;

background: rgb(255, 255, 255);
}
div#feature-two-box
{
    position: absolute;
width: 23%;
height: 306.4px;
left: 593px;
top: 1016px;

background: rgb(255, 255, 255);
}
div#feature-three-box
{
    position: absolute;
width: 23%;
height: 306.4px;
left: 943px;
top: 1016px;

background: rgb(255, 255, 255);
}
.card-img-top
{
    width: 41%;
}
div#statistics-area
{
position: absolute;
height: 430px;
left: 158px;
top: 1352px;
padding-left: 7%;
background: transparent;
}
i.carding
{
    padding-left: 6.4rem; 
    text-shadow: 2px 2px 2px rgb(80, 66, 228);
}
i.fas
{
    font-size: 3.9rem;
    padding-bottom: 13px;
    padding-top: 15px;
    color: rgb(0, 105, 197);
    text-shadow: 0.4px 0.4px 0.4px #ccc;
}
div.col-md-3.col-sm-6.single-counter-box
{
    width:285px;
    height:295px;
    text-align: center;
    background: #faf9f9;
    border: aliceblue;
    padding-top: 38px;
    padding-bottom: 18px;
}
img.icofont
{
    width:120;
    height:137;
}

div#carouselExampleCaptions
{
    position: relative;
    left: 25%;
    top: 1632px;
    width: 70%;
    padding: 8px;
    background: chocolate;
}
footer.site-footer
{
    top: 1726px;
    position: relative;
    width: 100%;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #6c757d;
    padding-top: 44px;
    border-color: blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container
{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*
.header {
    position: fixed;
    top: 0;
    left: 0;
	transition: all 0.4s;
    width: 100%;
    z-index: 99;
	padding: 18px 0;
}
.mainmenu {
    text-align: right;
}
.mainmenu li {
    display: inline-block;
    text-transform: uppercase;
}
.mainmenu li a {
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 5px 16px;
	margin: 0 3px;
    border: 1px solid transparent;
}
.slicknav_menu {
	padding: 0;
    background: transparent;
}
.slicknav_menu a.active,
.mainmenu ul li a:hover,
.mainmenu ul li a.active {
    border: 1px solid #fff;
}
.mainmenu {
    display: block;
}
.slicknav_menu {
	display: none;
}
.header.sticky {
	border-bottom: 1px solid #fff;
	background: #000529; /* Old browsers *//*
	background: -moz-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%); /* FF3.6-15 *//*
	background: -webkit-linear-gradient(left, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%); /* Chrome10-25,Safari5.1-6 *//*
	background: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
}
.header.sticky {
	padding: 10px 0;
}
.mainmenu li a.appao-btn {
	margin-left: 55px;
}
*/