body
{
background-image:url("usr_networks.jpg");
background-repeat: no-repeat;
background-size:1900px 2000px;
overflow-x: hidden !important;
}

p#update_profile_pic
{
position: relative;
top:50;
left:50;
width: 170px;

}

button#update_button
{
width:175px;
}

form#usr_data
{
position: relative;
top:-100;
left:550;

}

div#p_data
{
color: yellow;
position: relative;
top:-20;
left:100;
}

h1#pd
{
color: red;
}

input#submit_button
{
position:relative;
left:250;
top:20;
height: 30;
width:100;
color: green
}

div#part
{
position:relative;
left:500;
top:-50;
}

input#submit_pic
{
position:relative;
left:20;
top:10;
}

img#img
{
height: 200;
width: 200;
border:5px solid grey;
}

iframe#net
{
height: 1000;
width: 1830;
}


